/* 
col-xl:>=1200,    2
col-lg:>=992,     3
col-md:>=768,     4
col-sm:>=576,     6
col- :<576        12

col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12
*/

* {
  margin: 0px;
  padding: 0px;
  direction: rtl;
}

input#sendEmail {
  width: 100%;
  height: 35px;
  border-radius: 10px;
  background-color: var(--MainColor);
  color: white;
  margin-top: 20px;
}

textarea#EmailContant {
  resize: none;
  width: 100%;
  border-radius: 10px;
}

textarea#EmailContant {
  z-index: 1111111;
  height: 120px;
}

input#UserEmail {
  width: 47%;
  height: 35px;
  border-radius: 7px;
}

#sendEmailPage form {
  width: 100%;
}

input#UserFullName {
  margin: 40px 0px 40px 4%;
  width: 47%;
  height: 35px;
  border-radius: 7px;
}

#sendEmailPage {
  transition-duration: 0.3s;
  background-color: #000000;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100vw;
  z-index: 108;
  padding: 4.5% 19%;
  /* font-size: 4em; */
  color: white;
  margin-top: -100vh;
}

#callUsAlertPage i {
  position: absolute;
  top: 10px;
  left: 4%;
  cursor: pointer;
  font-size: 3rem;
}
#sendEmailPage i {
  position: absolute;
  top: 10px;
  left: 3%;
  cursor: pointer;
  font-size: 3rem;
}

#callUsAlertPage {
  transition-duration: 0.3s;
  background-color: #000000;
  height: 100vh;
  position: fixed;
  width: 100vw;
  z-index: 108;
  font-size: 4em;
  display: flex;
  color: white;
  margin-top: -100vh;
}

#showCallUsAlirtPage:checked + #callUsAlertPage {
  top: 100vh;
  transition-duration: 0.3s;
}
#showSendEmailPage:checked + #sendEmailPage {
  top: 100vh;
  transition-duration: 0.3s;
}

.mainMenuIcons {
  cursor: pointer;
}

#floatingTheerd {
  z-index: 20;
  width: 40px;
  text-align: center;
  position: fixed;
  background-color: #18e457;
  height: 40px;
  padding: 8px;
  border-radius: 50%;
  left: 25px;
  bottom: 42px;
  transition-duration: 0.3s;
}

#floatingSecond {
  width: 40px;
  text-align: center;
  position: fixed;
  background-color: gray;
  height: 40px;
  padding: 8px;
  left: 25px;
  border-radius: 50%;
  bottom: 41px;
  z-index: 10;
  transition-duration: 0.3s;
}
#floatingFirst {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 37px;
  left: 20px;
  border-radius: 50%;
  background-color: var(--MainColor);
  box-shadow: 1px 3px 11px 0px #6f6f6f;
  padding: 11px;
  z-index: 100000;
}

#floating i {
  color: white;
  font-size: 1.5em;
}

#floating {
  /* width: 50px; */
  /* height: 50px; */
  /* position: fixed; */
  /* bottom: 37px; */
  /* left: 20px; */
  /* border-radius: 50%; */
  /* background-color: var(--MainColor); */
  /* box-shadow: 1px 3px 11px 0px #6f6f6f; */
  /* padding: 11px; */
}

#subscribeBtn {
  position: absolute;
  border: none;
  width: 20%;
  background-color: var(--MainColor);
  color: white;
  height: 35px;
  /* margin-right: 39px; */
  left: -17px;
  top: 0px;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

form + .fas.fa-envelope {
  background-color: red;
  width: 100px;
  height: 50px;
}

input#subscribeEmail {
  height: 33px;
  border: none;
  margin: 0px;
  padding: 0px;
}

#subscribeFotter {
  width: 254px;
  left: 93px;
  position: absolute;
  top: 30%;
}

#subscribeFotter form {
  width: 220px;
  background-color: #ebebeb;
  /* position: absolute; */
  /* margin-left: 0px; */
  padding: 0px 7px 0px 0px;
  border: 1px solid #cecece;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

#moreSelectFotter {
  position: relative;
  height: 20px;
  width: 100%;
  right: 6px;
  margin: auto 0px;
}

#moreMenuServesesFotter {
  transition-duration: 0.3s;
  /* display: none; */
  position: absolute;
  top: 0px;
  right: -72px;
  height: 0px;
  width: 150px;
  /* background: wheat; */
  overflow: hidden;
  border-radius: 10px;
}

#moreSelectServesesFotter {
  position: relative;
  height: 20px;
  width: 100%;
  right: 0px;
  margin: auto 0px;
}

#moreFotter {
  width: 40px;
  height: 15px;
}

ul#MenuListFotter {
  list-style: none;
  display: flex;
  justify-content: space-around;
  height: 100%;
  margin-left: 3%;
  align-items: center;
  font-size: 13px;
}

#FotterMenu {
  width: 400px;
  font-size: 13px;
  /* position: absolute; */
}

#leftFotter {
  display: flex;
  flex-direction: column;
  /* padding: 30px; */
  position: relative;
  height: 80%;
  width: 60%;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 20px;
}

input[type="date"]#DateTimeDate {
  border: 1px solid lightgray;
  border-radius: 6px;
}

#custemSelectArow {
  background-color: #f3f3f361;
  width: 30px;
  height: 30px;
  display: inline-block;
  position: absolute;
  right: 90px;
  top: 0px;
  border-radius: 7px;
  border-left: 1px solid lightgray;
  outline: none;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  pointer-events: none;
}

#customSelect {
  position: relative;
}

#customSelect select {
  background-color: #f3f3f361;
  height: 30px;
  width: 120px;
  border-radius: 7px;
  outline: none;
  border-color: lightgray;
  appearance: none;
}

#custemSelectArow::after {
  content: "\25BC";
  top: 3px;
  position: absolute;
  left: 3px;
}

i.fa.fa-phone {
  transform: rotate(90deg);
}

header a {
  color: black;
}

#moreLable::after {
  content: "";
  border-width: 5px;
  border-style: solid;
  border-color: var(--MainColor) transparent transparent transparent;
  position: absolute;
  bottom: 7px;
  left: 0px;
}

#moreLableFotter::after {
  content: "";
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent var(--MainColor) transparent;
  position: absolute;
  bottom: 9px;
  left: -2px;
}

#more {
  width: 57px;
}

.moreMenuList li {
  margin: 15px;
}

#moreMenuServeses {
  transition-duration: 0.3s;
  /* display: none; */
  position: absolute;
  top: 53px;
  right: 179px;
  height: 0px;
  width: 150px;
  /* background: wheat; */
  overflow: hidden;
  border-radius: 10px;
}
#moreMenu {
  transition-duration: 0.3s;
  position: absolute;
  top: 65px;
  left: 160px;
  height: 0px;
  width: 167px;
  overflow: hidden;
  border-radius: 10px;
}

#moreMenuFotter {
  transition-duration: 0.3s;
  position: absolute;
  bottom: 38px;
  left: -20px;
  height: 0px;
  width: 164px;
  overflow: hidden;
  border-radius: 10px;
  color: black;
}
.moreMenuList input {
  border: none;
  background-color: transparent;
}
.moreMenuList {
  list-style: none;
  height: 90%;
}
#moreSelect label {
  position: relative;
  height: 31px;
  /* top: 37px; */
  width: 100%;
  right: 6px;
  margin: auto 0px;
}

#moreSelectServeses label {
  position: relative;
  height: 31px;
  /* top: 37px; */
  /* text-align: center; */
  width: 100%;
  right: 6px;
  margin: auto 0px;
}

#moreShow:checked + #moreSelect #moreMenu {
  display: block;
  height: 290px;
  background-color: white;
  transition-duration: 0.3s;
  border: 1px solid var(--MainColor);
}
#moreShowServeses:checked + #moreSelectServeses #moreMenuServeses {
  display: block;
  height: 330px;
  background-color: white;
  transition-duration: 0.3s;
  border: 1px solid var(--MainColor);
}

#moreShowFotter:checked + #moreSelectFotter #moreMenuFotter {
  display: block;
  height: 223px;
  background-color: white;
  transition-duration: 0.3s;
  border: 1px solid var(--MainColor);
}
#moreShowServesesFotter:checked
  + #moreSelectServesesFotter
  #moreMenuServesesFotter {
  display: block;
  height: 254px;
  background-color: white;
  transition-duration: 0.3s;
  border: 1px solid var(--MainColor);
  top: -263px;
}
#linerSlider {
  /* position: absolute; */
  width: 100%;
  height: 130px;
}
#soialMediaHeaderMobile img {
  width: 17px;
  margin: 25px 5px;
}
#soialMediaHeaderMobile {
  width: 59px;
  position: absolute;
  z-index: 11;
  left: 0px;
  display: none;
}
#soialMediaMobile img {
  max-width: 12%;
  margin: 10px;
}
label#wrap {
  position: absolute;
  z-index: 70;
}
#innerAside {
  width: 50vw;
  background-color: white;
  position: absolute;
  transition-duration: 0.3s;
  z-index: 100;
  height: 100vh;
  min-width: 255px;
  padding: 30px 50px;
}
#balckBackgroundMobile {
  width: 50vw;
  height: 100vh;
  z-index: 50;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.57);
  top: 0px;
  left: 0px;
}
.MobileBarItem {
  /* height: calc(6.66667%); */
  margin: 7px 0px;
  font-size: 25px;
}
aside ul {
  list-style: none;
  height: 90%;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* height: 90%; */
  /* margin: 0 -5px; */
}
aside {
  width: 100vw;
  margin-right: -101vw;
  position: fixed;
  transition-duration: 0.3s;
  z-index: 9;
  height: 100vh;
  top: 0px;
  right: 0px;
}
#serveces {
}
#ConnectionWrap {
  display: flex;
  padding: 50px;
}
#soialMedia {
  margin: 20px;
}
.SoialMediaImg {
  max-width: 40px;
  margin: 7px;
}
#soialMediaMobile {
  border-top: 1px solid var(--GrayColor);
  /* padding-top: 10px; */
  width: 140%;
  display: flex;
  margin: 0 -40px;
}
#Connection {
  background-color: var(--GrayColor);
}
.ConnectionInpt:focus {
  box-shadow: 0px 0px 7px 0px var(--MainColor);
}
.ConnectionInpt {
  margin-bottom: 20px;
  width: 90%;
  height: 33px;
  border: 1px solid var(--GrayColor);
  border-radius: 3px;
  padding: 0px 10px;
  outline: none;
}
.ConnectionInpt[type="submit"] {
  background-color: var(--MainColor);
  color: white;
}
#NameInpt {
}
#left {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#right {
  height: 500px;
  width: 50%;
  padding: 60px 0%;
  text-align: center;
}
#right a {
  color: var(--MainColor);
}
.sliderCover {
  width: 10%;
  height: 150px;
  z-index: 2;
  position: absolute;
  background-color: white;
}
.postExcrpt {
  margin: 10px 0px;
  height: 45%;
  overflow: hidden;
}
.moreLinkBtn:hover {
  color: white;
}
.postTitle,
.postTitle:hover {
  color: var(--MainColor);
  font-size: 24px;
  font-weight: bold;
}
.postInfo {
  display: flex;
  height: 100%;
  padding: 0px 30px;
  flex-direction: column;
  place-content: flex-start space-between;
  align-items: flex-start;
  /* position: relative; */
  justify-content: flex-start;
}
.moreLinkBtn {
  left: 70px;
  background: var(--MainColor);
  text-align: center;
  padding: 10px 35px;
  color: white;
  text-decoration: none;
  font-size: 0.4em;
  position: absolute;
  bottom: 20px;
}

a#contanctButton {
  background: var(--MainColor);
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 0.9em;
  left: 46%;
  /* bottom: -140px; */
}
a#postLink {
  font-size: 14px;
}
img.postImg {
  width: 300px;
  border-radius: 25px;
}
.post {
  width: 100%;
  height: 250px;
  padding: 20px;
  margin: 30px auto;
  background-color: var(--GrayColor);
  border-radius: 25px;
  display: flex;
  align-items: center;
  place-content: center space-evenly;
  position: relative;
}
#posts {
  padding: 3% 4%;
}
#silderWrap {
  overflow: hidden;
  height: 165px;
  /* float: right; */
  text-align: right;
  width: 100vw;
  /* padding: 0px 27px; */
  margin: 0 auto;
  /* position: relative; */
}
.sliderImg {
  height: 100%;
  max-width: 100px;
  /* margin: 0px auto; */
}
.item {
  width: calc(100% / 6.2);
  height: 160px;
  transition-duration: 500ms;
  padding: 30px;
  display: inline-block;
  display: inline-flex;
  justify-content: center;
  align-items: baseline;
}
#FormWrap {
  width: 50%;
}
#Date {
  background-color: var(--GrayColor);
  width: 100%;
  margin: 130px auto;
  padding: 1px 0px 50px;
}
#Date label {
  display: block;
}
#Date input[type="radio"].DateInput + label {
  display: inline-block;
  /* width: 30px; */
}
#Date input[type="submit"] {
  width: 100%;
}
#Date input[type="text"] {
  width: 50%;
  border-top: none;
  border-right: none;
  border-left: none;
  border-image: initial;
  border-bottom: 1px solid var(--GrayColor);
  outline: none;
  margin-top: 30px;
}
#Date input[type="text"]:focus {
  border-bottom: 2px solid var(--MainColor);
}
input#Date {
}
.requierd {
  color: red;
  font-family: "Cormorant Garamond", serif;
}
.doctorpart {
  color: rgb(28, 151, 197);
}
#doctors {
  width: 90%;
  margin: 0px auto;
  position: relative;
  height: 120vh;
}
#medicalTeam {
  background-color: var(--GrayColor);
  padding: 1px 0px;
}
.doctorInfo {
  transition-duration: 0.3s;
  height: 100%;
  background-color: white;
  position: absolute;
  left: 0px;
  width: 50%;
  top: 0px;
  padding: 14% 12%;
  direction: rtl;
  text-align: right;
}
.state {
  height: 44%;
  padding: 13px 27px;
}
.state:hover {
  border: 1px solid var(--MainColor);
}
.state + .state {
  margin-top: 10px;
}
#offersContener {
  display: flex;
  flex-direction: row;
}
#state {
  width: 20%;
  height: 130px;
  background-color: var(--GrayColor);
  margin: 60px 50px 0px 0px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: none;
  outline: none;
  overflow: hidden;
}
.offerTitle {
  width: 89%;
  height: 50px;
  color: var(--MainColor);
  margin: 0px;
  direction: rtl;
}
.offerTitle a {
  font-size: 1.02rem;
  color: var(--MainColor);
}
.offerDetails {
  width: 100%;
  height: 113px;
  position: absolute;
  bottom: 1px;
  padding: 9px 11px 9px 0px;
  text-align: right;
  direction: rtl;
  background-color: var(--GrayColor);
}
img.offerImg {
  width: 100%;
  height: 253px;
  position: absolute;
  z-index: -1;
  border-radius: 10px 10px 0px 0px;
}
.offerNameOverImg {
  width: 55%;
  position: absolute;
  height: 50px;
  z-index: 1;
  bottom: 136px;
  left: 60px;
  background-color: rgba(137, 132, 131, 0.64);
  border-radius: 7px;
  padding: 7% 0%;
  color: white;
  font-size: 1em;
  text-align: center;
}
.offerExpDate {
  width: 60px;
  height: 65px;
  background-color: rgba(0, 0, 0, 0.53);
  border-radius: 10px;
  margin-left: 190px;
  margin-top: 7px;
  position: absolute;
  color: white;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  line-height: 22px;
  padding: 7px;
}
#offersWrap {
  display: flex;
  flex-flow: row wrap;
  place-content: space-around;
  align-items: center;
  margin: 50px auto;
  width: 70%;
}
#blackLayer {
  background-color: rgb(23, 130, 221);
  width: 100%;
  height: 130px;
  opacity: 0.5;
}
.OneOfferWrap {
  position: relative;
  width: 260px;
  height: 370px;
  border-bottom: 5px solid var(--MainColor);
  border-radius: 10px;
  margin: 10px 10px 20px;
}
#contactFixedBackgound {
  width: 100%;
  height: 450px;
  background-position: 35% -110px;
  background-attachment: fixed;
  background-image: url("https://static1.s123-cdn-static-a.com/uploads/4858436/2000_60319760c70a5.jpg");
}
#contanctUs_p {
  width: 40%;
  text-align: center;
  font-size: 22px;
}
#contanct {
  width: 100%;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  place-content: space-around space-evenly;
  background-color: rgba(120, 199, 246, 0.52);
  z-index: 1;
  position: absolute;
}
#servecLink {
  color: var(--MainColor);
  text-decoration: none;
}
#servecLink:hover {
  color: var(--MainColor);
  text-decoration: underline;
}
#servecIcon {
  width: 100px;
  height: 100px;
  margin: 0px auto;
}
#servecContener {
  width: 40%;
  height: 294px;
  background-color: var(--GrayColor);
  margin: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 17px 40px;
}
#servecesContenerWrpa {
  display: flex;
  flex-flow: row wrap;
  place-content: space-around center;
  align-items: center;
}
#welcomImg {
  width: 50.1%;
  height: 360px;
}
#welcomImg img {
  max-height: 360px;
  max-width: 100%;
  object-fit: cover;
  width: 100% !important;
}
#welcomeImg img {
  width: 20px;
}
.section_wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70%;
  margin: 0px auto;
  direction: rtl;
  text-align: right;
}
#body {
  font-family: var(--fontFamly);
  position: relative;
  direction: rtl;
  text-align: right;
  /* min-height: 120vh !important; */
}
.link {
  color: black;
}
.link:hover {
  color: var(--MainColor);
  text-decoration: none;
}
#WelcomeTextWrap {
  background-color: var(--MainColor);
  height: 360px;
  padding: 5%;
  text-align: center;
  width: 50%;
  color: white;
  font-size: 20px;
}
a {
  text-decoration: none;
  color: inherit;
}

#callUsAlertPage a {
  margin: auto; /* margin-top: 170px; */
}

a:hover {
  color: var(--MainColor);
  text-decoration: none;
}
#share a img {
  max-width: 36px;
}
a img {
  margin: 5px;
}
#h {
  z-index: 2;
}
:root {
  --fontFamly: Open Sans, Arial, sans-serif;
  --transitionDuration: 0.5s;
  --MainColor: #2f90a8;
  --headerColor: #fff;
  --footerHeight: 186px;
  --GrayColor: #ebebeb;
}
.backgroundVideo {
  width: 100%;
  max-width: 100%;
  height: 100%;
  opacity: 0.5;
  object-fit: cover;
}
#header {
  transition-duration: calc(var(--transitionDuration) - 0.2s);
  position: fixed;
  width: 100%;
  height: var(--headerHeight);
  display: flex;
  background-color: var(--headerColor);
  top: 0px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
iframe {
  border: none;
  width: 100%;
}
#logo {
  transition-duration: calc(var(--transitionDuration) - 0.2s);
  position: absolute;
  top: 15px;
  max-height: calc(var(--headerHeight) * 0.8);
  right: 11px;
  background-color: rgb(255, 255, 255);
  width: calc(var(--headerHeight) + 12%);
  margin-top: -7px;
  max-width: 139% !important;
}
#MenuList {
  list-style: none;
  display: flex;
  justify-content: space-around;
  height: 100%;
  margin-left: 3%;
  align-items: center;
  font-size: 20px;
}
#mainMenu {
  transition-duration: calc(var(--transitionDuration) - 0.2s);
  height: calc(var(--headerHeight) - 2px);
  margin-top: -46px;
  background-color: var(--headerColor);
  padding-top: 6px;
  position: absolute;
  width: 65%;
  left: 0px;
  top: 46px;
  color: black;
  direction: rtl;
  text-align: right;
  padding-right: 9px;
}
.mainMenuIcons {
  width: 16px;
}
#User {
  width: 40px;
  background-color: var(--MainColor);
  height: 40px;
  border-radius: 50%;
}
#menu {
  margin-right: 9px;
  float: right;
  display: none;
}
.wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
.menuIcon {
  border-radius: 5px;
  transition-duration: 0.3s;
  width: 25px;
  height: 3px;
  background-color: black;
  margin-bottom: 4px;
}
footer {
  bottom: -1px;
  height: var(--footerHeight);
  width: 100%;
  max-width: 100% !important;
  padding: 0px 80px;
  position: relative;
}
#innerFotter {
  width: 100%;
  background-color: white;
  height: 100%;
  text-align: right;
  display: flex;
  justify-content: space-between;
  /* position: absolute; */
  margin: auto;
}
#footerInfo {
  /* position: absolute; */
  right: 30px;
  /* direction: rtl; */
}
#share {
  position: absolute;
  left: 140px;
  bottom: -4px;
}
#contant {
  /* position: inherit; */
  max-width: 100%;
  /* margin-top: 664px; */
}
#footerInfo {
  text-align: center;
  margin-right: 0px;
  max-width: 30%;
  margin-top: 60px;
}
#share {
  text-align: center;
}
#innerFooter {
  display: block;
  width: 100%;
  height: 100%;
}
#AboutUsImg {
  width: 570px;
  height: 450px;
  margin-left: 8%;
  object-fit: cover;
}
#AboutUsTitle {
  margin-bottom: 11px;
}
.PageTitle {
  width: max-content;
  border-bottom: 3px solid rgb(0, 145, 158);
  margin: 70px auto;
  font-size: 30px;
}
#AbouText {
  width: 30%;
  margin-left: -98px;
  padding: 40px;
  z-index: 1;
  background-color: var(--GrayColor);
  height: 360px;
  direction: rtl;
  text-align: center;
}
#AbouText {
  position: relative;
}
section {
  margin-bottom: 170px;
}
.section {
  width: 100%;
  background-color: var(--GrayColor);
  padding-top: 25px;
  flex-direction: column;
  text-align: right;
  transition-duration: var(--transitionDuration);
  height: 80px;
}
.card + .card {
  margin-top: 50px;
}
.section_wrap :checked + .section .section_discription {
  overflow-y: hidden;
  transition-duration: var(--transitionDuration);
}
.section_discription {
  width: 100%;
  overflow: hidden;
  background-color: var(--GrayColor);
  transition-duration: calc(var(--transitionDuration) + 0.3s);
  margin: 0px auto;
  padding: 0px 5%;
}
.section .section-lable img {
  transition-duration: var(--transitionDuration);
}
.section-lable {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
}
.btn_link {
  width: 100%;
  text-align: right;
}
#collapseTwo {
  background-color: var(--GrayColor);
}
.card {
  width: 60%;
  margin: 0px auto;
  direction: rtl;
}
#contanct #HeaderButton {
  font-size: 1em;
}
#HeaderButton {
  background: var(--MainColor);
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 0.4em;
  left: 45%;
  bottom: -140px;
}
#HeaderTitle {
  color: white;
  margin-bottom: -20px;
  font-size: 2.6em;
}
#HeaderText {
  text-align: center;
  font-size: 0.9em;
  margin: 3vw 0px;
}
#headerTextsWrape {
  position: sticky;
  color: white;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: -550px auto;
  font-size: 45px;
}
#Welcom {
  display: flex;
  width: 100%;
  /* margin-top: 100px; */
}
nav a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
@media screen and (max-width: 730px) {
  #headerTextsWrape {
    height: 290px;
    margin-top: -510px;
  }
}
@media screen and (min-width: 769px) {
  :root {
    --headerHeight: 100px;
  }
}
@media screen and (max-width: 769px) {
  #offersContener {
    display: flex;
    flex-direction: column;
  }
  #sendEmailPage {
    padding: 12% 30px;
    font-size: 1em;
  }
  input#UserFullName {
    width: 100%;
  }
  input#UserEmail {
    width: 100%;
    margin-bottom: 30px;
  }
  #mainMenu {
    display: none;
  }
  #servecContener {
    width: 90%;
  }
  #state {
    /* display: none; */
    width: 60%;
    height: 130px;
    background-color: var(--GrayColor);
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: none;
    outline: none;
    overflow: hidden;
  }
  #offersWrap {
    width: 80%;
  }
  #Welcom {
    flex-direction: column;
    margin-top: -110px;
  }
  #WelcomeTextWrap {
    width: 100%;
    margin-top: 16.5vh;
  }
  #welcomImg {
    width: 100%;
  }
  #menu {
    display: block;
    position: fixed;
    right: 11px;
    top: 30%;
  }
  #logo {
    width: 200px;
    margin: -7px auto;
    position: static;
  }
  :root {
    --headerHeight: 80px;
  }
  #mainMenu {
    display: none;
  }
  .wrap {
    flex-direction: column-reverse;
  }
  #AbouText {
    width: 100%;
    margin-left: 0px;
    padding: 90px 0px;
    z-index: 1;
    background-color: var(--GrayColor);
  }
  #soialMediaHeaderMobile {
    display: block;
  }
  #AbouText p {
    text-align: center;
    margin: 0px 15px;
  }
  #menu {
    display: block;
    position: fixed;
    z-index: 10;
    right: 11px;
    top: 5%;
  }
  #headerTextsWrape {
    height: 360px;
    margin-top: -540px;
    font-size: 5vw;
  }
}
.doctorImgWrap {
  height: 100% !important;
}
.doctorImg {
  height: 100%;
  object-fit: cover;
  object-position: center bottom;
}
@media screen and (max-width: 769px) {
  #callUsAlertPage {
    font-size: 1.6em;
    /* padding: 162px 100px; */
    display: flex;
  }

  #FotterMenu {
    display: none;
  }
  #innerFotter {
    flex-direction: column;
    position: absolute;
    /* width: 70%; */
  }
  #share {
    width: 80%;
    left: auto;
    top: 80px;
  }
  #leftFotter {
    width: 100%;
    bottom: 8px;
    /* bottom: -37px; */
    height: 50%;
    top: 60px;
    position: absolute;
    align-items: center;
    margin: 0;
  }
  #footerInfo {
    width: 87%;
    top: 20px;
    max-width: 87%;
    height: 50%;
    position: absolute;
    margin: 0;
  }
  footer {
    height: calc(var(--footerHeight) +200px);
    padding: 0px;
  }
  .item {
    width: calc(100% / 4);
  }
  .sliderImg {
    height: auto;
    max-width: 70%;
  }
  #subscribeFotter {
    /* width: 60%; */
    left: auto;
  }
  header #mobileWrap:checked + #menu + aside {
    margin-right: 0vw;
    transition-duration: 0.3s;
  }
  header :checked + #menu #menuIcon1 {
    transform: rotate(-45deg);
    margin-top: 9px;
    height: 5px;
    transition-duration: 0.3s;
  }
  header :checked + #menu #menuIcon2 {
    transform: rotate(45deg);
    margin-top: -9px;
    height: 5px;
    transition-duration: 0.3s;
  }
  header :checked + #menu #menuIcon3 {
    display: none;
  }
  #balckBackgroundMobile {
    display: block;
  }
  #Date input[type="text"] {
    width: 100%;
  }
  .doctorInfo {
    background-color: white;
    width: 100%;
    padding: 7%;
    text-align: right;
    height: 32% !important;
  }
  #ConnectionWrap {
    flex-direction: column;
  }
  .post {
    flex-direction: column;
    height: 0%;
  }
  a#postLink {
    width: 70%;
    margin: 0 auto;
    position: static;
  }
  #FormWrap {
    width: 90%;
  }
  .doctorImgWrap {
    width: 100% !important;
  }
  #right {
    padding: 0px;
    height: auto;
    width: 100%;
    font-size: 26px;
  }
  #left {
    padding: 0px;
    width: 100%;
    font-size: 26px;
  }
  .doctorImg {
    height: 68%;
    object-fit: cover;
    object-position: center top;
    top: 32%;
    position: absolute;
    width: 100% !important;
  }
  #headerTextsWrape {
    height: 270px;
  }
  #HeaderButton {
    font-size: 0.5em;
    left: 40%;
    bottom: -60px;
  }
}
@media screen and (max-width: 576px) {
  #contanctUs_p {
    width: 80%;
  }
  .item {
    width: calc(100% / 1.2);
  }
  .sliderImg {
    max-height: 130px;
  }

  #headerTextsWrape {
    height: 258px;
  }
}
@media screen and (max-width: 426px) {
  .item {
    width: calc(100% / 1.2);
  }

  #headerTextsWrape {
    font-size: 6.5vw;
    height: 208px;
  }
}
@media screen and (max-width: 1120px) {
  #moreShow:checked + #moreSelect #moreMenu {
    height: 330px;
  }
}
@media screen and (max-width: 900px) {
  #moreShow:checked + #moreSelect #moreMenu {
    height: 370px;
  }
}
