* {
  margin: 0px;
  padding: 0px;
  direction: rtl;
}

.doctorpart {
  color: #1c97c5;
}

div#doctors {
  width: 90%;
  margin: 0 auto;
  /* height: 70vh; */
  position: relative;
}

#medicalTeam {
  background-color: #dfdfdf;
  padding: 1px 0px;
  /* height: 600px; */
}

.DoctorName {
  /* color: #38b7eb; */
}

.doctorInfo {
  background-color: rgb(202, 202, 202);
  width: 100%;
  height: 100%;
  padding: 180px 87px;
  text-align: right;
  /* margin: 50px; */
}

.state {
  height: 44%;
  /* margin: 10px; */
  padding: 13px 27px;
}
.state:hover {
  border: 1px solid var(--MainColor);
}

.state + .state {
  margin-top: 10px;
}

#offersContener {
  display: flex;
  flex-direction: row;
}

#state {
  width: 20%;
  height: 130px;
  background-color: lightgrey;
  margin: 60px 50px 0 0;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: none;
  outline: none;
}

.offerTitle {
  width: 89%;
  height: 50px;
  color: var(--MainColor);
  margin: 0px 0px;
  direction: rtl;
}

.offerDetails {
  width: 100%;
  height: 113px;
  position: absolute;
  bottom: 1px;
  padding: 9px 11px 9px 0px;
  text-align: right;
  direction: rtl;
  background-color: #b2b2b229;
}

img.offerImg {
  width: 100%;
  height: 253px;
  position: absolute;
  z-index: -1;
  border-radius: 10px 10px 0px 0px;
}

.offerNameOverImg {
  width: 55%;
  position: absolute;
  height: 50px;
  z-index: 1;
  bottom: 136px;
  left: 60px;
  background-color: #81818185;
  border-radius: 7px;
  padding: 6% 12%;
  color: white;
}

.offerExpDate {
  width: 60px;
  height: 65px;
  background-color: #00000087;
  border-radius: 10px;
  margin-left: 190px;
  margin-top: 7px;
  position: absolute;
  color: white;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  line-height: 22px;
  padding: 7px;
}

#offersWrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  align-items: center;
  margin: 50px auto;
  width: 70%;
}

div#blackLayer {
  background-color: #1782dd;
  width: 100%;
  height: 130px;
  opacity: 50%;
}
.OneOfferWrap {
  position: relative;
  width: 260px;
  height: 370px;
  border-bottom: 5px solid var(--MainColor);
  border-radius: 10px;
  margin: 10px;
  margin-bottom: 20px;
}
#contactFixedBackgound {
  width: 100%;
  height: 450px;
  background-position-x: 35%;
  background-attachment: fixed;
  background-position-y: -110px;
  background-image: url(https://static1.s123-cdn-static-a.com/uploads/4858436/2000_60319760c70a5.jpg);
}

#contanctUs_p {
  width: 40%;
  text-align: center;
  font-size: 22px;
}

div#contanct {
  width: 100%;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  align-content: space-around;
  background-color: rgb(120 199 246 / 52%);
  z-index: 1;
  position: absolute;
}

#servecLink {
  color: var(--MainColor);
  text-decoration: none;
}
#servecLink:hover {
  color: var(--MainColor);
  text-decoration: underline;
}

#servecIcon {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

#servecContener {
  width: 40%;
  height: 294px;
  background-color: #dcdcdc;
  margin: 20px 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 17px 40px;
}
#servecesContenerWrpa {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#welcomImg {
  width: 50.1%;
  height: 360px;
}

#welcomImg img {
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}

#welcomeImg img {
  width: 20px;
}

.section_wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
  direction: rtl;
  text-align: right;
}
#body {
  direction: rtl;
  font-family: var(--fontFamly);
  text-align: right;
  min-height: 120vh !important;
  position: relative;
  direction: rtl;
  text-align: right;
}
.link {
  color: black;
}
.link:hover {
  color: var(--MainColor);
  text-decoration: none;
}

#WelcomeTextWrap {
  width: 40%;
  background-color: var(--MainColor);
  height: 360px;
  padding: 5%;
  text-align: center;
  width: 50%;
  color: white;
  font-size: 20px;
}
a {
  text-decoration: none;
}

#share a img {
  max-width: 36px;
}
a img {
  margin: 5px;
}
#h {
  z-index: 2;
}
:root {
  --fontFamly: Open Sans, Arial, sans-serif;
  --transitionDuration: 0.5s;
  --MainColor: #2f90a8;
  --headerColor: #fff;
  --footerHeight: 146px;
}
.backgroundVideo {
  position: absolute;
  width: 100%;
  max-width: 100%;
  height: 115.7vh;
  opacity: 0.5;
  object-fit: cover;
}
#header {
  transition-duration: calc(var(--transitionDuration) - 0.2s);
  position: fixed;
  width: 100%;
  height: var(--headerHeight);
  display: flex;
  background-color: var(--headerColor);
  top: 0;
  z-index: 2;
}

iframe {
  border: none;
  width: 100%;
}

#logo {
  transition-duration: calc(var(--transitionDuration) - 0.2s);
  position: absolute;
  top: 15px;
  max-height: calc(var(--headerHeight) * 0.8);
  max-width: 139% !important;
  right: 11px;
  background-color: #fff;
  width: calc(var(--headerHeight) + 12%);
  margin-top: -7px;
}
#MenuList {
  list-style: none;
  display: flex;
  justify-content: space-around;
  height: 100%;
  margin-left: 3%;
  align-items: center;
  font-size: 20px;
}
#mainMenu {
  transition-duration: calc(var(--transitionDuration) - 0.2s);
  height: calc(var(--headerHeight) - 2px);
  margin-top: -46px;
  background-color: var(--headerColor);
  padding-top: 6px;
  position: absolute;
  width: 65%;
  left: 0px;
  top: 46px;
  color: black;
  direction: rtl;
  text-align: right;
  padding-right: 9px;
}
.mainMenuIcons {
  width: 16px;
}

#wrap {
  margin-right: 9px;
  float: right;
  display: none;
}
.wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menuIcon {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 4px 0;
}

footer {
  max-width: 100% !important;
  bottom: -1px;
  height: var(--footerHeight);
  width: 100%;
  margin-top: 50px;
}

#innerFotter {
  width: 100%;
  background-color: gray;
  height: 100%;
  text-align: right;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
}
#footerInfo {
  position: absolute;
  right: 30px;
  direction: rtl;
}
#share {
  position: absolute;
  left: 30px;
}

#contant {
  position: inherit;
  max-width: 100%;
}

#footerInfo {
  text-align: center;
  margin-right: 0px;
  max-width: 30%;
}
#share {
  text-align: center;
}
#innerFooter {
  display: block;
  width: 100%;
  height: 100%;
}

#AboutUsImg {
  width: 570px;
  height: 450px;
  margin-left: 8%;
  object-fit: cover;
}

#AboutUsTitle {
  margin-bottom: 11px;
}
.PageTitle {
  width: max-content;
  border-bottom: 3px solid rgb(0, 145, 158);
  margin: 70px auto;
}

#AbouText {
  width: 30%;
  margin-left: -98px;
  padding: 40px;
  z-index: 1;
  background-color: #dadada;
  height: 360px;
  direction: rtl;
  text-align: center;
}

div#AbouText {
  position: relative;
}

section {
  margin-bottom: 170px;
}
.section {
  width: 100%;
  background-color: lightgray;
  padding-top: 25px;
  flex-direction: column;
  text-align: right;
  transition-duration: var(--transitionDuration);
  height: 80px;
}

.card + .card {
  margin-top: 50px;
}

.section_wrap :checked + .section .section_discription {
  overflow-y: hidden;
  transition-duration: var(--transitionDuration);
}
.section_discription {
  width: 100%;
  overflow: hidden;
  background-color: lightgray;
  transition-duration: calc(var(--transitionDuration) + 0.3s);
  margin: 0px auto;
  padding: 0px 5%;
}

.section .section-lable img {
  transition-duration: var(--transitionDuration);
}

.section-lable {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
}

.btn_link {
  width: 100%;
  text-align: right;
}
#collapseTwo {
  background-color: rgb(247 247 247);
}
.card {
  width: 60%;
  margin: 0 auto;
  direction: rtl;
}
#contanct #HeaderButton {
  font-size: 1em;
}
#HeaderButton {
  background: var(--MainColor);
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 0.4em;
}
#HeaderTitle {
  color: white;
  margin-bottom: -20px;
  font-size: 2.6em;
}
#HeaderText {
  text-align: center;
  font-size: 0.9em;
  margin: 3vw 0px;
}
#headerTextsWrape {
  position: sticky;
  color: white;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: -550px auto;
  font-size: 45px;
}

#Welcom {
  display: flex;
  width: 100%;
} /*
@media screen and (max-width: 992px) {
  root {
    --headerHeight: 60px;
  }

  .wrap {
    flex-direction: column-reverse;
  }
  #AbouText {
    width: 100%;
    margin-left: 0px;
    padding: 90px 0px;
    z-index: 1;
    background-color: #dadada;
  }
  #AbouText p {
    text-align: center;
    margin: 0px 15px;
  }

  #AboutUsImg {
    width: 100%;
    margin-left: 0px;
  }
}
*/
@media screen and (max-width: 730px) {
  #headerTextsWrape {
    height: 290px;
    margin-top: -510px;
  }
}

@media screen and (min-width: 769px) {
  :root {
    --headerHeight: 100px;
  }
}

@media screen and (max-width: 769px) {
  #mainMenu {
    display: none;
  }

  #servecContener {
    width: 90%;
  }
  #state {
    display: none;
  }
  #offersWrap {
    width: 80%;
  }
  #Welcom {
    flex-direction: column;
  }
  #WelcomeTextWrap {
    width: 100%;
  }
  #welcomImg {
    width: 100%;
  }

  #wrap {
    display: block;
    position: absolute;
    right: 11px;
    top: 30%;
  }
  #logo {
    width: 200px;
    margin: -7px auto;
    position: static;
  }

  :root {
    --headerHeight: 80px;
  }
  #mainMenu {
    display: none;
  }
  .wrap {
    flex-direction: column-reverse;
  }
  #AbouText {
    width: 100%;
    margin-left: 0px;
    padding: 90px 0px;
    z-index: 1;
    background-color: #dadada;
  }
  #AbouText p {
    text-align: center;
    margin: 0px 15px;
  }
  /*
  #AboutUsImg {
    width: 100%;
    margin-left: 0px;
  }*/
  #wrap {
    display: block;
    position: absolute;
    right: 11px;
    top: 30%;
  }

  #headerTextsWrape {
    height: 360px;
    margin-top: -540px;
    font-size: 5vw;
  }
}

@media screen and (max-width: 769px) {
  .doctorInfo {
    background-color: rgb(202, 202, 202);
    width: 100%;
    height: 25%;
    padding: 7% 7% 3% 3%;
    text-align: right;
  }
  #headerTextsWrape {
    height: 270px;
  }
  #HeaderButton {
    font-size: 0.5em;
  }
}

@media screen and (max-width: 576px) {
  #headerTextsWrape {
    height: 258px;
  }
}

@media screen and (max-width: 426px) {
  #headerTextsWrape {
    font-size: 6.5vw;
    height: 208px;
  }
}
