<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="lap1My.css">
    <title>Test</title>
</head>
<body >
<div id="body1">
    <div id="LeftSide">

        <h1>Get In Tech</h1>
        <p> asdfhsdafsdkafiskgjbhis ikjsb fihfjsdb ihhds fj ff jds fjd fhdsfdsb fd fh dfhdf</p>
        
    </div>

    

    <form>
    <h2 style="color: gray;">Send us a Message</h2>
        <input type="text" name="Name" required placeholder=" Name">

        <input type="email" name="E-mail"  required placeholder="E-mail">

        <input type="number" name="Phone"  required placeholder="Phone">

        <p style="color: gray;"> Preferred mode of Communication</p>

        <div id="radioWrap" >
            <div class="radioWrap">
                <input type="radio" name="mode" id="RBtn" >

                <label for="phoneBtn"> Phone</label>
            </div>

            <div class="radioWrap">
                <input type="radio" name="mode" id="RBtn" >

                <label for="emailBtn" > Email</label>
            </div>


        </div>


        <label for="message" style="color: gray;"> Massage</label>

        <input type="text" name="message" id="message"  style="margin-top: -20px;">



        <input type="submit" value="Submit" id="submitBtn" >
        

    </form>
</div>

<div id="body1">
    <div id="LeftSide">

        <h1>Get In Tech</h1>
        <p> asdfhsdafsdkafiskgjbhis ikjsb fihfjsdb ihhds fj ff jds fjd fhdsfdsb fd fh dfhdf</p>
        
    </div>

    

    <form>
    <h2 style="color: gray;">Send us a Message</h2>
        <input type="text" name="Name" required placeholder=" Name">

        <input type="email" name="E-mail"  required placeholder="E-mail">

        <input type="number" name="Phone"  required placeholder="Phone">

        <p style="color: gray;"> Preferred mode of Communication</p>

        <div id="radioWrap" >
            <div class="radioWrap">
                <input type="radio" name="mode" id="RBtn" >

                <label for="phoneBtn"> Phone</label>
            </div>

            <div class="radioWrap">
                <input type="radio" name="mode" id="RBtn" >

                <label for="emailBtn" > Email</label>
            </div>


        </div>


        <label for="message" style="color: gray;"> Massage</label>

        <input type="text" name="message" id="message"  style="margin-top: -20px;">



        <input type="submit" value="Submit" id="submitBtn" >
        

    </form>
</div>
    
    
</body>
</html>